UnitTest/SerializeDeserialize/Deserializer/user.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="user">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="Firstname"/>
        <xs:element type="xs:string" name="Name"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>